* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: arial,sans-serif;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	margin: 20px 0;
	text-align: center;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

#head-content {
	height: 50px;
}

#main-content {
	width: 1000px;
	margin: 0 auto;
}

.vote-box {
	float: left;
	width: 120px;
	height: 150px;
	margin: 10px;
	padding: 10px;
	background-color: yellow;

}

.vote-box input {
	max-width: 120px;
	line-height: 30px;
	font-size: 20px;
	margin: 5px 0;
	text-align: center;
}

.vote-box .arrows {
	float: left;
	width:0; 
	height:0;
	margin: 10px 0;
	cursor: pointer;
}

.vote-box .arrow-up {
	
	border-left:30px solid transparent; 
	border-right:30px solid transparent; 
	border-bottom:30px solid #00F; 
}

.vote-box .arrow-down {
	border-left:30px solid transparent; 
	border-right:30px solid transparent; 
	border-top:30px solid #00F; 
}

#add-user {
	cursor: pointer;
}

#add-user img {
	width: 120px;
	height: 150px;
}

.vote-box {

}